.foodrow{
  height: 100%;
  margin: 0 auto;
  background: #fff;
  padding: .3rem .3rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px){
  .food .form-container form{
      width: 100%;
      margin: 3rem 0;
  }
  .food .form-container form input[type="submit"]{
      width: 100%;
  }
  .gridfood .card-container .card{
      max-width: 70%;
  }
} 
 .gridfood .heading{
  color:var(--main-color);
  font-size: 2rem;
  padding-top: 5rem; 
  text-align: center;
  letter-spacing: .2rem;
  padding: 1.2rem;
} 
 .foodrow .heading{
  color:var(--main-color);
  font-size: 3rem;
  text-align: center;
  letter-spacing: .2rem;
  padding: 1.5rem;
  width: 100%;
} 
.foodrow h2{
  font-size: 2rem;
  /* color:#405c70; */
  color: #125D98;
  padding: 0 rem;
 
} 
.foodrow p,.foodrow .content ul,.foodrow .content li{
  font-size: 1.3rem;
  padding: .5rem;
  list-style: none;
}
/* .foodrow .content ul{
  font-size: 1.5rem;
  padding: 1rem;
  list-style: none;
}
.foodrow .content li{
  font-size: 1rem;
  padding: 1rem;
  list-style: none;
} */
.foodrow .column-10 .content-review{
    width: 100%;
    display: flex;
   

}
.foodrow .column-10 .content-first{
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;  
    background-origin: padding-box;
    border-bottom-style:ridge ;
}

.foodrow .column-10 .content-first .content{
  padding-left: 10px;
   font-size: 1.2rem;
  display: flex;
  color: #666;
}
.foodrow .column-10 .content-first .stars i {
  color: gold;
}
.foodrow .column-10 .content-review .content{
  padding-left: 30px;
  font-size: 1.2rem;
}
.foodrow .column-10 .begin{
  display: flex;
}
 .foodrow .column-10 .begin i {
  color: #ff5722;
} 
/* .foodrow .column-10 .content-first .content{
  padding-left: 30px;
  /* margin: 0  0 1rem; */
  /* padding: 1rem; 
  font-size: 1.2rem;
} */
/* .foodrow .column-10 .content-review abbr{
  display: flex;
} */
.foodrow .column-10 .gridfood .action{
  display: flex;
  
}
.action .fas, .action .far{
  font-size: 1.5rem;
  margin: .2rem;
  color: #666;
}
.action .icon-like:hover{
  color: red;
  cursor: pointer;
}
.action .icon-liked{
  color: red;
  display: none;
}
.action .icon-add-cart:hover{
  color: green;
  
}
.action .icon-share:hover{
  color: darkblue;
}
/* .foodrow .column-10 .content-review  span{
  color:#666;
  font-size: 1em;
  font-style: bold;
  display: inline;
  padding: .5em;
} */
.foodrow .column-10 .content .stars i{
  font-size: 1.5em;
  display: inline;
  padding-top: 1.2em;
  color: gold;
  /* font-weight: 600; */
}
/* .foodrow .column-10 .content-first  .stars{
  font-size: 1em;
  display: inline;
  padding-top: .5em;
  /* font-weight: 600; 
} */
.foodrow .column-10 .content-review span {
  font-size: 1.5em;
  display: inline;
  color: #666;
  
}

/* .foodrow .column-10 .content-review  .fas{
  color: gold;
} */
/* #first i{
    font-size: 1em;
}

#first p{
  font-size: 1em;
  display: inline;
  flex-direction: column-reverse;

} */
.foodrow .column-10{
  padding-left: 12px;
  padding-right: 12px;
  width: 75%;
  height: 100%;
}

.text-center{
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
}
.panel-title{
  font-size: 1rem;
  color: var(--main-color);
  display: block;
  padding: 1rem 1rem;
  text-decoration: none;
  position: relative;    
  margin-left: -1rem;
  margin-top: 0;
}

.foodrow .column-10 .pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem;
}
.foodrow .column-10 .pagination a {
  color: black;
  float: right;
  font-size: 1rem;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: .5px solid #ccc;
  border-radius: 7px;
  margin: .2rem;
}
.foodrow .column-10 .pagination a .fas{
  color: black;
  font-size: 1rem;
}
.foodrow .column-10 .pagination .page-current {
  background-color:  var(--main-color);
  color: white;
}
.foodrow .column-10 .pagination a:hover:not(.page-current, .page-control-btn-disable) {
  background-color: #666;
  color: white;
}

.foodrow .map-panel{
  width: 90%;
  display: block;
  padding-left: 5em;
  padding-bottom: 5em;

}
.foodrow .user-rate {
  margin: 20px 0px 40px;
  padding: 5 1rem;
}

.foodrow .user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.foodrow .user-avt {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-image: s;
}

.foodrow .user-name {
  margin-left: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  color: #0098a1;
  font-size: 1.2em;
}

.foodrow .name {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.foodrow .user-rate-content {
  line-height: 25px;
  font-size: 1.2em;
}


/* .action {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 20px;
  background-color: #ff5722;
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} */
.foodrow .column-2 {
  width: 25%;
  display: inline-block;
}

.foodrow .column-2 .category{
  background: #eee;
  border-radius: 5px;
  padding: 1rem;
  
  
}
.foodrow .column-2 .category .container-panel{   
  width: 100%;
  min-height: 1px;
  padding: 5;
  margin-bottom: 20px;
  position: relative;
  
}
.foodrow .column-2 .category .container-panel form{
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.9);
  border-radius: .7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.foodrow .column-2 .category .container-panel form h3{
  color: #333;
  font-size: 1.7rem;
  text-align: center;
}
.foodrow .column-2 .category .container-panel form span{
  color: var(--main-color);
  font-size: 1.5rem;
  margin: .5rem 0;
  display: block;
}
.foodrow .column-2 .category .container-panel form input{
  width: 100%;
  padding: 0 1rem;
  height: 2.2rem;
  font-size: 1.3rem;
  background-color: #eee;
  border: none;
  outline: none;
  color: #333;
  box-shadow: 0 .1rem ,3rem rgba(0,0,0,.3) inset;
  border-radius: .5rem;
  display: block;
}
.foodrow .column-2 .category .container-panel form button{
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    margin-left: 15px;
    width: 40%;
    transition: .2s linear;
}
.foodrow .column-2 .category .container-panel form i{
  font-size: 70px;
  color:var(--main-color);
  cursor: pointer;
  font-size: 1.5rem;
  padding: .5rem;
  transition: .2s linear;
}
.foodrow .column-2 .category .container-panel form abbr{
  color: var(--main-color);

}
.foodrow .column-2 .category .container-panel form input[type="submit"]{
  width: 10rem;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  font-size: 1.5rem;
  height: 2em;
  margin: 1.7rem auto;
  transition: .2s linear;
}
.foodrow .column-2 .category .container-panel form input[type="submit"]:hover{
  border: .2rem solid --main-color;
  color: var(--main-color);
  background: none;
} 

.foodrow .order{
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0098a1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 25px;
  color: #fff;
  line-height: 0.8;
  overflow: hidden;
  padding: .65rem;
  
  
}
.back-to-top:hover {
  background: #0098a1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0098a1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foodrow .column-10 .card-container .content-reviews-show{
  width: 100%;
  height: 70px;
}
.foodrow .column-10 .card-container .content-show{
  width: 80%;
  height: 200px;
  text-align: center;
}
.foodrow .column-10 .card-container .content-description-show{
  width: 100%;
  height: 130px;
  overflow: hidden;
  padding: .3rem .6rem;
  text-align: justify;
} 




/* card */


.gridfood{
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding-top: 1rem;
}

.gridfood .card-container{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: nowrap;
  width: 98%;
  margin: auto;
}
.gridfood .card-container .card{
  max-width: 16.6%;
  width: 500px;
  height: 450px;
  margin: .7rem;
  background: #fff;
  border-radius: .7rem;
  box-shadow: 0 .3rem 5rem rgba(0,0,0,.3);
  position: relative;
  transition: transform linear .2s;
  /* border: 1px solid black; */
}
.gridfood .card-container .card a{
  outline: none;
  color: #333;
}
.gridfood .card-container .card:hover{
  transform: translateY(-5px);
  box-shadow:  0 1px 20px 0 rgba(0,0,0,.9);
}
.gridfood .card-container .slide-show{
  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}
.gridfood .card-container .slide-show img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gridfood .card-container .card img.slide-show:not(:first-child){
  display: none; 
}
.gridfood .card-container .content{
  width: 100%;
  height: 200px;
  text-align: center;
}
.gridfood .card-container .content-description{
  width: 100%;
  height: 130px;
  overflow: hidden;
  padding: .3rem .6rem;
  text-align: justify;
}
.gridfood .card-container .content .title{
  color: var(--main-color);
  font-size: 1.5rem;
  margin-top: .5rem;
  line-height: 1.65rem;
  text-align: center;
}
/* .gridfood .card-container .content .p{
  height: 100px;
  color: gold;
  font-size: 1.2rem;
} */
.gridfood .card-container .content-reviews{
  width: 100%;
  height: 70px;
}
.gridfood .card-container .content i{
  font-size: 1rem;
  color: gold;
  margin-top: .5rem;
  display: flex;
  left: .5rem;
}
.gridfood .card-container .content span{
  color: #333;
  margin-left: .5rem;
}
.gridfood .card-container .content .btn{
  font-size: 1rem;
  margin-top: .5rem;
  height: 2.5rem;
  width: 8rem;
  border-radius: .5rem;
  outline: none;
  border: none;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: .2s linear;
}
.gridfood .card-container .content .btn:hover{
  background: none;
  border: .2rem solid var(--main-color);
  color: var(--main-color);
}
.gridfood .more-infomation{
  height: 150px;
}
.gridfood .more-infomation .btn:hover{
  box-shadow:  0 1px 20px 0 rgba(0,0,0,.9);
  cursor: pointer;
}
.gridfood .more-infomation .btn{
  border: none;
  background-color: #eee;
  margin: 2rem;
  width: 22%;
  height: 4rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);
  position: absolute;
  right: 0;
  left: 0;
}

.gridfood .fas {
  font-size: 2rem;
}
.gridfood .card-address .fas {
  font-size: 1.5rem;
}
.gridfood .more-infomation .fas{
  color: var(--main-color);
}
.gridfood .card-address{
  position: absolute;
  top: 10px;
  left: -13px;
  color: red;
  background-color: currentColor;
  font-size: 1.3rem;
  margin: 0 3px 0 5px;
  line-height: 1.6rem;
  padding-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.gridfood .card-address::after{
  content: "";
  position: absolute;
  border-top: 9px solid currentColor;
  border-left: 9px solid transparent;
  left: 0;
  bottom: -9px;
  filter: brightness(50%);
}
.gridfood .card-address span {
  color: #fff;
}
.gridfood .card-address i {
  color: #fff;
  padding-left: .3rem;
}
.gridfood .card-top, .gridfood .card-hot{
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 45px;
  background-color: rgba(255, 216, 64, .95);
}
.gridfood .card-top .top-label, .gridfood .card-hot .hot-label{
  color: red;
  font-weight: 1000;
  position: relative;
  left: 6px;
  top: 5px;
  font-size: 1.4rem;
}
.gridfood .card-top::after, .gridfood .card-hot::after{
  content: "";
  position: absolute;
  right:  0;
  bottom: -10px;
  border-style: solid;
  border-width: 0 27.5px 10px;
  border-color: transparent rgba(255, 216, 64, .95) transparent rgba(255, 216, 64, .95);
}
.gridfood .card-sale-off{
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 50px;
  background-color: rgba(255, 216, 64, .95);

}
.gridfood .card-sale-off .discount{
  color: red;
  font-weight: 1000;
  font-size: 1.3rem;

}
.gridfood .card-sale-off .discount-label{
  color: #fff;
  font-weight: 1000;
  position: relative;
  left: 7px;
}
.gridfood .card-sale-off::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-style: solid;
  border-width: 0 27.5px 10px;
  border-color: transparent rgba(255, 216, 64, .95) transparent rgba(255, 216, 64, .95);
}

.slick-prev, .slick-next {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(158, 152, 152, 0.87);
  border-radius: 50%;
  border: none;
  z-index: 100;
}
.slick-prev{
  position: absolute;
  left: -10px;
  margin-left: 5px;
}
.slick-next{
  position: absolute;
  right: -10px;
  margin-right: 5px;
}
.slick-prev:hover, .slick-next:hover{
  box-shadow:  0 1px 20px 0 rgba(0,0,0,.3);
  background-color: #000;
}
.slick-prev .fas, .slick-next .fas{
  width: 100%;
  font-size: 2.5rem;
  color: #fff;
}
.slick-dots{
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.slick-dots li{
  display: inline-block;
  margin: .1rem .3rem;
}
.slick-dots li button{
  font-size: 0;
  height: 1rem;
  width: 1rem;
  background: #333;
  border-radius: 50%;
}






/* .foodrow .column-2 .category .container-panel form abbr{
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    margin-left: 15px;
    width: 40%;
    transition: .2s linear;
}  */

a:hover {
  text-decoration: none;
} 
 .demo, .demo p {
  margin: 4em 0;
  text-align: center;
} 
/**
 * c-tooltip Styles
 */
/* Base styles for the element that has a c-tooltip */
 [data-c-tooltip] {
  position: relative;
  cursor: pointer;
} 
/* Base styles for the entire c-tooltip */
 [data-c-tooltip]:before,
[data-c-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
} 
/* Show the entire c-tooltip on hover and focus */
 [data-c-tooltip]:hover:before,
[data-c-tooltip]:hover:after,
[data-c-tooltip]:focus:before,
[data-c-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
} 
/* Base styles for the c-tooltip's directional arrow */
 [data-c-tooltip]:before {
  z-index: 1000;
  border: 6px solid transparent;
  background: transparent;
  content: "";
  
} 
/* Base styles for the c-tooltip's content area */
 [data-c-tooltip]:after {
  z-index: 1000;
  padding: .5em;
  width: 125px;
  text-align:center;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-c-tooltip);
  font-size: .9em;
  line-height: 1.2;
} 
/* Directions */
/* Top (default) */
 [data-c-tooltip]:before,
[data-c-tooltip]:after {
  bottom: 100%;
  left: 50%;
} 
 [data-c-tooltip]:before{
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9);
} 
/* Horizontally align top/bottom c-tooltips */
[data-c-tooltip]:after {
  margin-left: -80px;
 
}
[data-c-tooltip]:hover:before,
[data-c-tooltip]:hover:after,
[data-c-tooltip]:focus:before,
[data-c-tooltip]:focus:after{
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
} 

/* Left */
 /* [tooltip-position='left']:before,
[tooltip-position='left']:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}
[tooltip-position='left']:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9);
}
[tooltip-position='left']:hover:before,
[tooltip-position='left']:hover:after,
[tooltip-position='left']:focus:before,
[tooltip-position='left']:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px);
} */ 
/* Bottom */
 /* [tooltip-position='bottom']:before,
[tooltip-position='bottom']:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
[tooltip-position='bottom']:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9);
}
[tooltip-position='bottom']:hover:before,
[tooltip-position='bottom']:hover:after,
[tooltip-position='bottom']:focus:before,
[tooltip-position='bottom']:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}  */
/* Right
[tooltip-position='right']:before,
[tooltip-position='right']:after {
  bottom: 50%;
  left: 100%;
}
[tooltip-position='right']:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9);
}
[tooltip-position='right']:hover:before,
[tooltip-position='right']:hover:after,
[tooltip-position='right']:focus:before,
[tooltip-position='right']:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
} */
/* Move directional arrows down a bit for left/right c-tooltips */
 /* [tooltip-position='left']:before,
[tooltip-position='right']:before {
  top: 3px;
}  */
/* Vertically center c-tooltip content for left/right c-tooltips */
 /* [tooltip-position='left']:after,
[tooltip-position='right']:after {
  margin-left: 0;
  margin-bottom: -16px;
}   */
